<div class="center jumbotron mgn5-20 border">
    <h1 class="">instagram</h1>
    <div class="box">
    <%= image_tag 'instagram.jpg', class: "image" %>
    </div>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "Log in", '#', class: "btn btn-lg btn-primary" %>
    </div>
  
</div>
